@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

.main
{
    background-image: url("bg.jpg");
    height: 80vh;
    position: relative; 
    /* position-relative is use to pop out item from backgroud od the box */
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

}

.box
{
    height: 80vh;
    width: 100%;
    opacity: 0.4;
    /* opacity: ; is use to make box shade */
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img
{
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button
{
    position: relative;
    z-index: 10;
}

.hero
{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}