@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: black;
}

.main {
    background-image: url("bg.jpg");
    height: 80vh;
    position: relative;
    /* position-relative is use to pop out item from backgroud od the box */
    top: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);

}

.box {
    height: 80vh;
    width: 100%;
    opacity: 0.4;
    /* opacity: ; is use to make box shade */
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

nav img {
    width: 120px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    margin-top: 80px;
    height: calc(100%-62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 13px;
    padding: 30px;
    z-index: 1;
}

.hero> :nth-child(1) 
/* Greater than '>' symbol is use to make changes at immediate child */
{
    font-size: 38px;
    font-weight: bolder;
    font-weight: 800;
    text-align: center;
}

.hero> :nth-child(2)
{
    font-size: 24px;
    font-weight: 350;
    text-align: center;
}
.hero> :nth-child(3)
{
    font-size: 20px;
    font-weight: 350;
    text-align: center;
}

.separation
{
    height: 7px;
    background-color: rgb(77 77 77 / 53%);
}

.btn
{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(23, 23, 23, 0.285);
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;

}
.btn-red
{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm
{
    background-color: red;
    color: white;
}

.herobtn
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input
{
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    color: white;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(246,238,238,0.5)
}

.first
{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}
.secImage
{
    position: relative;
}
.secImage img
{
    width: 30vw;
    position: relative;
    z-index: 10;
}

.secImage video
{
    position: absolute;
    top: 17%;
    left: 12%;
    width: 74%;
    height: 62%;
    z-index: 1;
    object-fit: cover;
    border-radius: 2px;
}

section.first >div
{
    display: flex;
    flex-direction: column;
}

section.first > div :nth-child(1)
{
    font-size: 48px;
    font-weight: bolder
}
section.first > div :nth-child(1)
{
    font-size: 24px;
}

.faq h2
{
    text-align: center;
    margin-bottom: 25px;
    font-size: 36px;
}

.faq{
background-color: black;
color: white;
padding: 24px;  
max-width: 64vw;
margin: 34px auto;

}

.faqbox
{
    display: flex;
    background-color:rgb(77 77 77 / 53%);
    padding: 15px;
    width: 100%;   
    color: white;
    cursor: pointer;
    justify-content: space-between;
    margin: 5px;
    transition: all 0.5s ease-out;
}

.faqbox:hover
{
    background-color: rgb(83, 83, 83);
}

footer
{
    color: white;
}

.footer
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footeritem
{
    display: flex;
    flex-direction: column;
} 




